body {
  margin: 0;
  font-family: 'Avenir Next', 'Segoe UI', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0f172a;
  background: #f7fbfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
}
